<footer class="py-5 bg-body-tertiary">
    <div class="container ">
        <h2>Get The Fresh Cart App</h2>
        <p>we will send you a link , open it on your phone to download the app</p>
        <div class="container  w-90">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-6">
                    <div>
                        <input class="form-control" type="text" placeholder="Email....">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 text-center" >
                    <div class="buttons">
                        <button>Send App Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex foot-logo mt-4 me-5 ">
            <div class="d-flex align-items-center gap-3">
                <p>Payment Parteners :</p>
                <img class="w-4" src="../../assets/imgs/pngimg.com - amazon_PNG24.png" alt="">
                <img class="w-4" src="../../assets/imgs/mc_symbol_opt_45_2x.png" alt="">
                <img class="w-4" src="../../assets/imgs/pngwing.com.png" alt="">
            </div>
            <div class="d-flex align-items-center justify-content-end ">
                <p class="text-dark">Get deliveries with feashCart</p>
                <img  class="w-25" src="assets/imgs/appstore.png" alt="">
                <img  class="w-25" src="../../assets/imgs/play.png" alt="">
            </div>
        </div>
    </div>
</footer>