button{
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    transition: all .5s;
}

.foot-logo{
    justify-content: space-between;
}
button:hover{
    background-color: green;
}
p{
    color: gray;
}
footer{
    background-color: #F9FBFB;
}
@media screen and (max-width:768px) {
    .buttons{
        margin-top: 10px;
    }
    .foot-logo {
        flex-direction: column;
        align-items: flex-start;
    }
    
}