<nav #navBar class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img class="w-100" src="./assets/images/freshcart-logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="home">home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="products">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="categories">categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="brands">brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="allorders">All Orders</a>
                </li>
                
            </ul>
            
            <div class="icons d-flex gap-3 ms-auto align-items-center">
                <a class="nav-link text-capitalize position-relative me-3 " routerLink="wishlist">
                    <i class="fa fa-heart  text-danger fa-2x fs-2 "></i>
                    <span class="badge bg-info position-absolute cart">{{wishNum}}</span>
                </a>
                <a class="nav-link text-capitalize position-relative me-3 "  routerLink="/cart">
                    <i class="fas fa-cart-shopping fa-2x fs-2 text-main "></i>
                    <span class="badge bg-info position-absolute cart">{{cartNum}}</span>
                </a>
                <div class="d-flex gap-3">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <span class="nav-link text-capitalize cursor-pointer" (click)="logOutUser()" >SignOut</span>
            </div>
        </div>
    </div>
</nav>
