<section class="w-75 mx-auto bg-body-tertiary rounded shadow p-3 mb-4" *ngIf="cartDetails;else msg">
    <h1 class="h2">Shop Cart</h1>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="h4 text-main">Total Price: {{cartDetails.totalCartPrice | currency:'EGP '}} </h2>
        <button (click)="clearCart()" class="btn btn-danger">Clear Cart</button>
    </div>
    <div class="row border-bottom  py-3" *ngFor="let item of cartDetails.products">
        <div class="col-md-1">
            <img [src]="item.product.imageCover" class="w-100" [alt]="item.product.title">
        </div>
        <div class="col-md-11 ">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="h5"> {{item.product.title}} </h3>
                    <p class="mb-0"> Price: {{item.price | currency:'EGP '}} </p>
                    <button #removeBtn (click)="removeCartItem(item.product._id,removeBtn)" class="btn m-0 p-0 text-main"><i class="fas fa-trash-can"></i> Remove</button>
                </div>
                <div>
                    <button (click)="changeCount(item.product._id,item.count - 1,minus,plus)" #minus  class="border-success border  rounded cursor-pointer btn"><i   class="fa fa-minus "></i></button>
                    <span> {{item.count}} </span>
                    <button (click)="changeCount(item.product._id,item.count + 1,minus,plus)" #plus class="border-success border  rounded cursor-pointer btn"><i   class="fa fa-plus "></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <button type="button" [routerLink]="['/payment',cartDetails._id]" class="btn ms-auto d-block bg-primary text-white">Pay Now <img src="../../assets/images/visa-1.svg" alt=""></button>
    </div>
</section>
<ng-template #msg>
    <h2 class="text-center">Your Cart Is Empty...</h2>
</ng-template>
